# Server Configuration
FAUCET_PORT=3000
REDIS_PORT=6380
POSTGRES_PORT=5433


# Security Secrets
JWT_SECRET=your_jwt_secret_here
COOKIE_SECRET=your_cookie_secret_here

# Database Configuration
DATABASE_USERNAME=faucet_user
DATABASE_PASSWORD=secure_password
DATABASE_NAME=faucet_db

# Redis Configuration
REDIS_PASSWORD=redis_password

# reCAPTCHA Configuration
RECAPTCHA_KEY=your_recaptcha_key_here

# Discord OAuth
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
DISCORD_REDIRECT_URL=http://localhost:3000/auth/discord/callback

# X (Twitter) OAuth
X_CLIENT_ID=your_x_client_id
X_CLIENT_SECRET=your_x_client_secret
X_REDIRECT_URL=http://localhost:3000/auth/x/callback

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URL=http://localhost:3000/auth/google/callback


FRONT_CALLBACK_URL=http://localhost:400/
