# Server Configuration
FAUCET_PORT=3000
REDIS_PORT=6380
POSTGRES_PORT=5433
IMAGE_TAG=latest


# Security Secrets
JWT_SECRET=
COOKIE_SECRET=

# Database Configuration
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

# Redis Configuration
REDIS_PASSWORD=

# reCAPTCHA Configuration
RECAPTCHA_KEY=

# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URL=

# X (Twitter) OAuth
X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=


FRONT_CALLBACK_URL=

NODE_URL=
